body {
    // color: var(--light-text-color);
}

.container {
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
}

.primary-button {
    background-color: var(--primary-button-color);
    border: none;
    color: var(--light-text-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 38px 65px;
    min-width: 270px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    &:hover {
        filter: brightness(1.2);
    }

    @media (max-width: 656px) {
        padding: 30px 50px;
    }

    @media (max-width: 525px) {
        padding: 20px 30px;
        min-width: 180px;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header--active {
    background-color: var(--dark-text-color);
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;
    transition: all 0.6s ease-in-out;

    .header-logo__img {
        width: 269px;
        height: 55px;
    }

    .header-list {
        display: flex;
        align-items: center;
        gap: 45px;
        color: var(--light-text-color);

        &__link {
            color: var(--light-text-color);
            position: relative;
            line-height: 24px;
            font-weight: 400;

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background-color: var(--light-text-color);
                transition: all 0.3s ease-in-out;
                position: absolute;
                top: 100%;
                left: 0;
            }

            &:hover {
                filter: brightness(0.8);
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    .header__contact-link {
        display: flex;
        align-items: center;
        gap: 11px;

        img {
            width: 24px;
            height: 24px;
            transition: transform 0.2s ease-in-out;
        }

        a {
            color: var(--light-text-color);
            transition: all 0.3s ease-in-out;
        }

        &:hover img {
            animation: shake 0.3s ease-in-out;
        }

        &:hover a {
            filter: brightness(0.8);
        }
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-5px);
        }
        50% {
            transform: translateX(5px);
        }
        75% {
            transform: translateX(-5px);
        }
        100% {
            transform: translateX(0);
        }
    }

    .burger-menu {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 42px;
        height: 26px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .burger-menu:hover {
        transform: rotate(360deg);
        transition: 0.6s ease-in-out;
    }
    .burger-menu__item {
        width: 100%;
        height: 2px;
        background-color: #000;
        transition: 0.4s linear;
        background-color: var(--light-text-color);
    }
    .burger-menu__item-horizont {
        width: 2px;
        height: 100%;
        background-color: #000;
        position: absolute;
        transition: 0.4s linear;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--light-text-color);
    }

    .burger-menu__item-horizont:nth-child(4) {
        transform: translateX(-50%) scale(0);
        opacity: 0;
    }

    .burger-menu__item-horizont--active:nth-child(4) {
        transform: translateX(-50%) scale(1) rotate(45deg);
        opacity: 1;
    }
    .burger-menu__item-horizont:nth-child(5) {
        transform: translateX(-50%) scale(0);
        opacity: 0;
    }
    .burger-menu__item-horizont--active:nth-child(5) {
        transform: translateX(-50%) scale(1) rotate(-45deg);
        opacity: 1;
    }
    .burger-menu__item--active:nth-child(1) {
        transform: translateX(-100%);
        opacity: 0;
    }
    .burger-menu__item--active:nth-child(2) {
        width: 0;
        opacity: 0;
    }

    .burger-menu__item--active:nth-child(3) {
        transform: translateX(100%);
        opacity: 0;
    }

    @media (max-width: 1024px) {
        .header-logo__img {
            width: 200px;
            height: auto;
        }

        .header-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            z-index: 999;
            opacity: 0;
            transform: translateX(-120%);
            transition: all 0.9s ease-in-out;
            display: none;

            .header-list {
                height: 100%;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                background-color: var(--dark-text-color);
                padding-left: 30px;
            }
        }

        .header-menu--active {
            transform: translateX(0);
            opacity: 1;
        }

        .burger-menu {
            display: flex;
        }
    }

    @media (max-width: 525px) {
        padding-top: 20px;
        .header__contact-link {
            display: none;
        }
    }
}

.header-nav--active {
    padding: 20px 20px;
}

.hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero__bg.webp") no-repeat center/ cover, url("../img/hero__bg.jpg") no-repeat center/ cover, #707070;
}

.hero__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;

    .hero__content-pretitle {
        max-width: 366px;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.06em;
        color: var(--light-text-color);
    }

    .hero__content-title {
        margin-top: 24px;
        max-width: 1168px;
        font-weight: 700;
        font-size: 64px;
        line-height: 88px;
        color: var(--light-text-color);
    }

    .hero__content-cta-block {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;

        .hero__content-cta-icons {
            display: flex;
            align-items: center;
            gap: 25px;

            .hero__content-cta-icon {
                border: 1px solid var(--light-text-color);
                border-radius: 50%;
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                color: var(--light-text-color);

                &:hover {
                    background-color: var(--light-text-color);
                    color: var(--dark-text-color);
                }
            }
        }
    }

    @media (max-width: 656px) {
        .hero__content-pretitle {
            font-size: 24px;
            margin: 0 auto;
        }
        .hero__content-title {
            font-size: 48px;
            text-align: center;
        }

        .hero__content-cta-block {
            flex-direction: column;
        }
    }

    @media (max-width: 425px) {
        .hero__content-pretitle {
            font-size: 18px;
        }
        .hero__content-title {
            font-size: 42px;
            text-align: center;
            margin-top: 16px;
            line-height: 140%;
        }
        .hero__content-cta-block {
            margin-top: 16px;
        }
    }
}

.schedule__content {
    margin-top: 80px;
    display: flex;
    align-items: flex-end;
    gap: 129px;
    padding-bottom: 175px;
    flex-wrap: wrap;

    .schedule__content-item:first-child {
        margin-top: 0;
    }
    .schedule__content-item {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #e7e7e7;
        margin-top: 20px;

        .schedule__content-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: var(--dark-text-color);
        }

        .schedule__content-menu {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-top: 10px;

            .schedule__content-item-decor {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: var(--decoration-color);
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                color: var(--dark-text-color);
            }

            @media (max-width: 525px) {
                justify-content: space-between;
                .schedule__content-item-decor {
                    display: none;
                }
                p {
                    font-size: 16px;
                }
                p:nth-of-type(even) {
                    text-align: right;
                }
            }
        }
    }

    .schedule__content-right-decore {
        width: 472px;
        height: 502px;
        border: 2px solid var(--decoration-color);
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 101px;
            right: 245px;
            width: 323px;
            height: 486px;
            background: url("../img/schedule-img-one.webp") no-repeat center/ cover, url("../img/schedule-img-one.jpg") no-repeat center/ cover;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 67px;
            left: 248px;
            width: 323px;
            height: 486px;
            background: url("../img/schedule-img-two.webp") no-repeat center/ cover, url("../img/schedule-img-two.jpg") no-repeat center/ cover;
        }

        @media (max-width: 767px) {
            width: 372px;
            height: 402px;

            &::before {
                width: 223px;
                height: 386px;
                right: 200px;
            }

            &::after {
                width: 223px;
                height: 386px;
                left: 200px;
            }
        }
        @media (max-width: 525px) {
            display: none;
        }
    }

    @media (max-width: 1280px) {
        flex-direction: column-reverse;
        gap: 129px;
        align-items: center;
    }
}

.quotes {
    background-color: var(--primary-button-color);
}

.quotes-content__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 220px 0;
    position: relative;
    overflow: hidden;

    .quotes-content__swipe-icon {
        position: absolute;
        bottom: 100px;
        opacity: 0.7;
        animation: swipe 3s infinite;
        display: none;

        @media (max-width: 656px) {
            display: block;
        }
    }

    @keyframes swipe {
        0% {
            right: 0;
        }
        100% {
            right: calc(100% - 80px);
        }
    }

    h2 {
        margin-top: 34px;
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        color: var(--decoration-color);
        letter-spacing: normal;
    }

    p {
        margin-top: 20px;
        max-width: 785px;
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        color: var(--light-text-color);
    }

    p:last-child {
        margin-top: 40px;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.245em;
        color: var(--decoration-color);
    }

    @media (max-width: 1024px) {
        h2 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
            max-width: 600px;
        }

        p:last-child {
            font-size: 18px;
        }
    }

    @media (max-width: 768px) {
        h2 {
            max-width: 450px;
        }
        p {
            max-width: 450px;
        }
    }
}

.button-prev,
.button-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;
    transition: all 0.3s ease-in-out;
    &:hover * {
        stroke: var(--decoration-color);
        transition: all 0.3s ease-in-out;
    }

    @media (max-width: 656px) {
        display: none;
    }
}

.button-next {
    right: 0;
}

.reserve__popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.6s ease-in-out;
    opacity: 0;

    .reserve__popup-content {
        background-color: var(--light-text-color);
        padding: 100px;
        position: relative;

        .reserve__popup-form-close {
            font-size: 46px;
            line-height: 100%;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }

        .reserve__popup-form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            position: relative;

            .reserve__popup-form-input {
                width: 100%;
                border-bottom: 1px solid #707070;

                input {
                    width: 100%;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }
            }
            .reserve__popup-btn {
                width: 100%;
                padding: 10px 20px;
            }
        }

        @media (max-width: 375px) {
            padding: 50px;
        }
    }
}

.reserve__popup--active {
    opacity: 1;
    transform: translateX(0);
}

.popup-success,
.popup-error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 100px;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    z-index: 999;
    transition: all 0.6 ease-in-out;
    text-align: center;
}

.popup-error__retry,
.popup-success__close {
    margin-top: 20px;
    cursor: pointer;
}

.popup-success--active {
    transform: translate(-50%, -50%) scale(1);
}

.popup-error--active {
    transform: translate(-50%, -50%) scale(1);
}
